div {
    background-image: url("../../../../assets/img/logo.png");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 244px;
}

div:hover {
    cursor: pointer;
}