<div class="text-center md:text-left">
    <h1 class="title">¿Olvidaste tu contraseña?</h1>
    <p class="subtitle">aquí puedes <span class="blue"> reestablecerla</span></p>
</div>

<form nonvalidate [formGroup]="form" (keydown.enter)="sendInstructions()">
    <div class="mt-6 card flex justify-center">
        <p-floatlabel> 
            <input id="email" pInputText fluid formControlName="email" />
            <label for="email">Correo electrónico</label>
        </p-floatlabel>
    </div>
    <div class="mt-4">
        <app-main-button (onClick)="sendInstructions()" [label]="loading() ? 'Enviando instrucciones...' : 'Enviar instrucciones'" [loading]="loading()" [disabled]="form.invalid" />
    </div>
</form>

<nav class="nav-auth">
    <a [routerLink]="'/auth/login'">¿Ya tienes cuenta? Inicia sesión</a>
    <a [routerLink]="'/auth/register'">¿No tienes cuenta? Crea una</a>
</nav>