
<div class="flex flex-column align-items-center gap-5 mt-4">
    <app-logo />
</div>  
<div class="flex align-items-center justify-content-between p-5">
    <section class="flex flex-column gap-5">
        <h1 class="title">Administrador de Gastos</h1>
        <p class="alig">Domina tus finanzas con nuestro Administrador de Gastos. Simplifica la gestión de tus ingresos y egresos en un solo lugar, de manera intuitiva y eficiente. Toma el control total de tus finanzas personales o empresariales con nuestra plataforma fácil de usar.</p>
    </section>
    <img src="/girl.png" class="w-40" alt="Imagen girl">
</div>

<section class="bg">
    <div class="flex flex-column align-items-center justify-content-center gap-3">
        <h2 class="pt-3 subtitle">Ventajas de usar FinTrack</h2>
        <p-card class="mt-3 tam" pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000">
            <ng-template #title>Organización sin esfuerzo</ng-template>
            <p>Clasifica y visualiza tus gastos de forma clara y ordenada, sin complicaciones con nuestro panel amigable y fácil de usar.</p>
        </p-card>
        <p-card class="mt-3 tam" pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000">
            <ng-template #title>Presupuestación inteligente</ng-template>
            <p>Establece objetivos financieros realistas y sigue tu progreso con nuestras herramientas de presupuestación inteligente.</p>
        </p-card>
        <p-card class="mt-3 tam" pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000">
            <ng-template #title>Acceso en cualquier lugar</ng-template>
            <p>Nuestra plataforma está disponible para que puedas gestionar tus finanzas desde donde te encuentres.</p>
        </p-card>
    </div>
</section>

<div class="flex justify-content-around m-5">
    <p-button routerLink="/auth/login" label="¿Ya tienes una cuenta? Inicia sesión" link />
    <p-button routerLink="/auth/register" label="¿No tienes una cuenta? Crea auna" link />
</div>