.card-responsive {
    display: block;
    width: 30rem!important;
}

@media (min-width: 768px) {
    .card-responsive {
        display: block;
        width: 60rem!important;
    }
}

.truncate-title {
    display: inline-block;
    max-width: 14rem; /* Ajusta el ancho deseado */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
