<div class="flex flex-column-reverse md:flex-row md:justify-content-between align-items-center p-5">
    <div class="">
        <h1 class="title">Actualizar contraseña</h1>
        <p class="subtitle">aquí puedes cambiar tu<span class="blue"> contraseña</span></p>
    </div>
</div>

<div class="flex justify-content-center">
    <p-card [style]="{'width': '40rem'}">
        <form [formGroup]="form" (keydown.enter)="submit()">
             <div class="mt-6 card flex justify-center">
                <p-floatlabel> 
                    <p-password id="current_password" [toggleMask]="true" [formControlName]="formControlNames.PASSWORD_CURRENT" [feedback]="false" />
                    <label for="current_password">Contraseña actual</label>
                </p-floatlabel>
             </div>
             <div class="mt-6 card flex justify-center">
                <p-floatlabel> 
                    <p-password id="password" [toggleMask]="true" [formControlName]="formControlNames.PASSWORD" [feedback]="false" />
                    <label for="password">Nueva contraseña</label>
                </p-floatlabel>
            </div>
            <div class="mt-6 card flex justify-center">
                <p-floatlabel> 
                    <p-password id="repeat_password" [toggleMask]="true" [formControlName]="formControlNames.PASSWORD_CONFIRMATION" [feedback]="false" />
                    <label for="repeat_password">Repetir contraseña</label>
                </p-floatlabel>
            </div>
        </form>
        <div class="pt-4">
            <app-main-button (onClick)="submit()" [label]="submitLabel()" [loading]="state().loadingSubmit" [disabled]="form.invalid" />
        </div>
    </p-card>
</div>