:host ::ng-deep .btn-custom[disabled] {
    /* Opcional: Esto asegura que el cursor se aplique al botón principal */
    cursor: not-allowed !important; 
}

/* O también, si quieres aplicarlo a la clase de estilo que ya tienes: */
.btn-custom[disabled] {
    cursor: not-allowed !important;
}