<div class="text-center md:text-left">
    <h1 class="title">Reestablecer contraseña</h1>
    <p class="subtitle">ingresa el código que recibiste <span class="blue"> por correo electrónico</span></p>
</div>

@if (!this.isValidToken()) {
    <ng-container>
        <div class="card flex mt-7 justify-content-center">
            <form [formGroup]="formToken" (keydown.enter)="validateToken()">
                <p-inputotp [integerOnly]="true" [length]="6" size="large" formControlName="token"></p-inputotp>
                <div class="pt-4">
                    <app-main-button (onClick)="validateToken()" [label]="loadingToken() ? 'Confirmando código...' : 'Confirmar'" [loading]="loadingToken()" [disabled]="formToken.invalid" />
                </div>
            </form>
        </div>
        <div class="flex justify-content-center mt-5">
            <p-button styleClass="btn-custom" label="Reenviar código ({{ timeLeft() }})" variant="text" [disabled]="resendDisabled()" (onClick)="resendNewToken()" />
        </div>
    </ng-container>
} @else {
    <form [formGroup]="formNewPassword" (keydown.enter)="resetPassword()" nonvalidate>
        <div class="mt-6 card flex justify-center">
            <p-floatlabel> 
                <p-password id="password" [toggleMask]="true" formControlName="password" [feedback]="false" />
                <label for="password">Contraseña</label>
            </p-floatlabel>
        </div>
        <div class="mt-6 card flex justify-center">
            <p-floatlabel> 
                <p-password id="password_confirmation" [toggleMask]="true" formControlName="password_confirmation" [feedback]="false" />
                <label for="password_confirmation">Repetir contraseña</label>
            </p-floatlabel>
        </div>
        <div class="mt-4">
            <app-main-button (onClick)="resetPassword()" [label]="loadingResetPassword() ? 'Guardando contraseña...' : 'Guardar contraseña'" [loading]="loadingResetPassword()" [disabled]="formNewPassword.invalid" />
        </div>
    </form>
}

